<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
{{if .user}}
<div style="display: flex;align-items: center">
    <p>ログイン中 {{.user.Name}}さん</p>
    <form action="/sign-out" method="post">
        <button type="submit">ログアウト</button>
    </form>
</div>
{{else}}
<a href="/sign-in">ログイン</a>
<a href="/sign-up">ユーザー登録</a>
{{end}}
<div style="padding: 8px 0">
    <form action="/csv">
        <button type="submit">CSVダウンロード</button>
    </form>
</div>
<div style="padding: 8px 0">
    <form action="/csv" method="post">
        <input accept=".csv" name="csv" type="file">
        <button type="submit">CSVアップロード</button>
    </form>
</div>
</body>
</html>