<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>sign-up</title>
</head>
<body>
<form action="/sign-up" method="post">
    <div>
        <label for="userName">
            ユーザー名：
            <input id="userName" name="userName" type="text" value="{{ .userName }}">
        </label>
        {{range $msg := .errMsg.userName}}
        <p style="color: red">{{$msg}}</p>
        {{end}}
    </div>
    <div>
        <label for="password">
            パスワード：
            <input id="password" name="password" type="password" value="{{ .password }}">
        </label>
        {{range $msg := .errMsg.password}}
        <p style="color: red">{{$msg}}</p>
        {{end}}
    </div>
    <button>登録</button>
</form>
</body>
</html>